<h3>Application <span style = "color : #c29429 !important">dashboardsounds.com</span></h3>
<p>
    Votre nouveau mot de passe est : <b>{{ pass }}</b> que vous devez changer le plus tôt possible ! 
    Merci!! :-)
</p>
<p>
    cliquer <a href="{{ path('app_login') }}"><i>Ici</i></a> pour vous connecter
</p>

