<a href="#" data-toggle="modal" data-target="#modal_form" class="btn_client_modif" data-id="'.$item->getId().'"><span class="fa fa-edit"></span></a><a href="#" data-toggle="modal" data-target="#modal_form_confirme" class="btn_client_suppr" data-id="'.$item->getId().'"><span class="fa fa-trash-o"></span></a>
